.detail {
  margin: 28px 220px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .detail-item {
    width: 937px;
    height: 385px;
    background: #242535;
    border-radius: 20px;

    padding: 35px 43px 35px 50px;

    .detail-item__img {
      padding-top: 33px;
    }
    .detail-item__content {
      margin-left: 70px;
    }
    .detail-item__title {
      font-weight: bold;
      font-size: 25px;
      line-height: 34px;
      color: #FFA800;
      margin-bottom: 10px;
    }
    .detail-item__desc {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
    }
    .detail-item__bottom {
      width: 475px;
      height: 125px;
      background: rgba(155, 155, 155, 0.29);
      border-radius: 20px;
      padding: 25px 40px 21px 40px;
    }
    .detail-item__slider {
      position: absolute;
      left: 0;
      top: 0;
      height: 15px;
      border-radius: 10px;
      &--active {
        background: #299827;
        z-index: 111;
      }
      &--full {
        background: rgba(106, 106, 106, 0.5);
        width: 100%;
        z-index: 100;
      }
    }
    .detail-item__price-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 15px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
    .detail-item__price-amount {
      font-weight: normal;
      font-size: 18px;
      line-height: 15px;
      color: #FFFFFF;
    }
    .detail-item__price-divider {
      width: 1px;
      height: 42px;
      background: #FFFFFF;
      margin: 0 16px;
    }
  }

  .detail-video {
    color: white;
    width: 710px;
    min-width: 710px;
    height: 383px;
    background: #242730;
    margin-top: 50px;
    margin-bottom: 66px;
    .video-block {
      position: relative;
      height: 100%;
      &__gradient {
        position: relative;
        background-image: linear-gradient(90deg, #141414 4.25%, rgba(20, 20, 20, 0) 100%);
        width: 100%;
        height: 100%;
        z-index: 2;
        &__pause {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        &__play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: 79px;
          height: 79px;
          background: #424242;
          border-radius: 100%;
          cursor: pointer;
          img {
            margin-left: 26px;
          }
        }
      }
      .video-block__video {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: inset(0 0 0 10px round 3px);
        div {
          width: 150% !important;
          height: 150% !important;
        }
      }
    }
  }
  .detail-info {
    color: #FFFFFF;
    .detail-info__title {
      font-weight: normal;
      font-size: 28px;
      line-height: 42px;
      margin-bottom: 50px;
    }
    .detail-info__text {
      font-weight: 300;
      font-size: 19px;
      line-height: 27px;
      margin-bottom: 32px;
    }
  }

  .detail-btns {
    width: 927px;
    height: 54px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 40px;
    .detail-btns__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #C4C4C4;
      cursor: pointer;
      &--right {
        border-left: 0.5px solid #FFFFFF;
      }
      &--active {
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }
  .detail-report {
    color: #FFFFFF;
    margin-top: 50px;
    .detail-report__title {
      font-weight: bold;
      font-size: 26px;
      line-height: 42px;
      text-decoration-line: underline;
      margin-bottom: 20px;
    }
    .detail-report__description {
      font-weight: normal;
      font-size: 19px;
      line-height: 27px;
      margin-bottom: 20px;
    }
    .detail-report__months {
      margin-top: 74px;
      .detail-report__months__text {
        font-weight: normal;
        font-size: 26px;
        line-height: 42px;
        margin-bottom: 30px;
      }
    }
    .detail-report__doc {
      width: 478px;
      height: 209px;
      background: #242535;
      border: 1px solid #FFFFFF;
      border-radius: 20px;
      color: #FFFFFF;
      padding: 24px 43px;
      margin-top: 46px;

      .detail-report__doc__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 16px;
      }
      .detail-report__doc__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
      }
      .detail-report__doc__btn {
        border: 1px solid #FFA800;
        border-radius: 10px;
        padding: 7px 38px;
        margin-top: 11px;
        background: #242535;
        color: #FFFFFF;

        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
