.sign-up {
  padding: 25px 169px 249px 192px;
  .sign-up__top {
    .sign-up__top__btn {
      padding: 7px 18px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      height: 38px;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      margin-left: 20px;
      background: #0C0B15;
    }
  }

  .sign-up__content {
    margin-top: 97px;

    .sign-up__form {
      color: #FFFFFF;
      .sign-up__form__title {
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 50px;
      }
      .sign-up__form__name {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
      }
      .sign-up__form__input {
        width: 600px;;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        background: #0C0B15;
        outline: none;
        border: none;
        border-bottom: 1px solid #D9D9D9;
        margin-top: 13px;
        margin-bottom: 39px;
        padding-bottom: 4px;
        color: inherit;

        &::placeholder {
          color: #808191;
        }
      }
      .sign-up__form__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-left: 12px;
        a {
          color: #FFFFFF;
        }
      }
      .sign-up__form__btn {
        height: 48px;
        border: 1px solid #FFA800;
        border-radius: 10px;
        padding: 11px 47px;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        background: #0C0B15;
        margin-top: 50px;
      }
    }
  }
}
