.header {
  height: 79px;
  background: #1C1B29;

  padding-left: 20px;
  padding-right: 65px;

  .header-logo {
    margin-right: 70px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .header-search {
    position: relative;
    .search-icon {
      position: absolute;
      top: 14px;
      right: 14px;
    }
  }
  .header-input {
    width: 625px;
    height: 40px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;

    padding-left: 15px;
    padding-right: 26px;
    border: none;
    outline: none;

    &::placeholder {
      color: #808191;
    }
  }
  .header-btn {
    border: 1px solid #C4BDCF;
    border-radius: 8px;
    background: #1C1B29;
    padding: 13px 34px 13px 40px;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #C4BDCF;

    &--active {
      background: #FFA800;
      border-radius: 8px;
      border: 1px solid #FFA800;

      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #26212E;
    }
  }
  .margin-right-16 {
    margin-right: 16px;
  }
  .header-auth {
    position: relative;
    cursor: pointer;
    .header-auth__avatar {
      width: 36px;
      min-width: 36px;
      height: 36px;
      background: #C4C4C4;
      border-radius: 100%;
    }
    .header-auth__name {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      margin: 0 4px;
      color: #FFFFFF;
    }
    .header-auth__icon {

    }
    .header-dd {
      position: absolute;
      width: 182px;
      height: 98px;
      background: #E0E0E0;
      border-radius: 11px;
      padding: 21px 25px;
      top: 46px;
      right: 0;

      .header-dd__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.331915px;
        color: rgba(12, 11, 21, 0.8);

        margin-left: 5px;
      }
      .header-dd__divider {
        width: 131px;
        height: 0.5px;
        background: #0C0B15;
        margin-top: 8px;
        margin-bottom: 12px;
      }
    }
  }
}
