.sidebar {
    max-width: 175px;
    margin: 30px 24px 0 20px;
}

.sidebar-content {
    margin-bottom: 100px;
}

.sidebar-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1.5px;
    color: #808191;
    opacity: 0.5;
    margin-bottom: 25px;
}

.menu-item {
    margin-bottom: 29px;
    cursor: pointer;
}

.menu-item__div {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-right: 16px;
}

.menu-item__text--active {
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}

.menu-item__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #808191;
}

.menu-divider {
    width: 140px;
    height: 1px;
    background: #464653;
    margin-bottom: 30px;
}

.chat-block {
    width: 32px;
    height: 32px;
    min-width: 32px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFA800;
    border-radius: 12px;
    margin-right: 16px;
}
.chat-block__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #808191;
}

