.login {
  padding: 25px 157px 95px 168px;
  color: #FFFFFF;
  .login-top {
    .login-top__img {
      width: 184px;
      height: 27.65px;
    }
    .login-top__btn {
      padding: 13px 34px 13px 40px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      border-radius: 8px;

      &--left {
        margin-right: 20px;
        background: #0C0B15;
        border: 1px solid #C4BDCF;
        color: #C4BDCF;
      }
      &--right {
        background: #FFA800;
        border: 1px solid #FFA800;
      }
    }
  }
  .login-content {
    margin-top: 128px;
    max-width: 560px;
    width: 100%;
  }
  .login-enter-text {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #C4BDCF;
    margin-bottom: 20px;
  }
  .login-enter-email {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #817B8B;
  }
  .login-enter-pass {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #817B8B;
    margin-top: 12px;
  }
  .login-input {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    outline: none;
    border: none;
    background: #26212E;
    border-radius: 8px;
    margin-top: 8px;
    padding: 17px;
    color: inherit;

    &::placeholder {
      color: #808191;
    }
  }
  .login-remember {
    margin-top: 20px;
    .login-remember__text {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #C4BDCF;
      margin-left: 8px;
    }
  }
  .login-forgot {
    margin-top: 29px;
    .login-forgot__text {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #C4BDCF;
      text-decoration: none;
    }
    .login-forgot__btn {
      border: 1px solid #FFA800;
      border-radius: 10px;
      padding: 12px 48px;
      background: #0C0B15;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: #FFA800;
    }
  }
  .login-error {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #F44336;
  }
}
